[
  { sample_app, []},
  { epmdless, [
        {transport, tcp},
        {listen_port, 17012}
    ]
  },
  { erlang_node_discovery, [
    {db_callback, epmdless_dist},
        {hosts, ["host1.local", "host2.local"]},
        {node_ports, [
            {'app1', 17012},
            {'app2', 17013},
            {'app3', 17015}
        ]},
        {cookie, sample_app_cookie}
  ]}
].
