[
  { sample_app, []},
  { epmdless, [
        {transport, tcp},
        {listen_port, 17012}
    ]
  },
  { erlang_node_discovery, [
    % epmdless_dist as our database
    {db_callback, epmdless_dist},
    % discovery will happen on one machine only
    {hosts, ["10.68.206.60"]},
    % query following appnames/ports
    {node_ports, [
      {'app1', 17012},
      {'app2', 17013},
      {'app3', 17015}
    ]}
  ]}
].
