[
  { sample_app, []},
  { epmdless, [
        {transport, tcp},
        {listen_port, 7113}
    ]
  },
  { erlang_node_discovery, [
    {db_callback, epmdless_dist},
        {hosts, ["oleg.local", "dali.local"]},
        {node_ports, [
            {'simple1', 17012},
            {'simple2', 17013},
            {'simple5', 17015}
        ]},
        {cookie, sample_app_cookie}
  ]}
].
